
.trigger {
  display: none;
}

ul {
  display: flex;
  align-items: center;
  height: 50px;
}
ul li {
  list-style: none;
  text-decoration: none;
}

ul a {
  margin-left: 10px;
}

@media (max-width:640px) {
  .menu {
    display: none;
  }
  .trigger {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
  }
  .trigger i {
    display: block;
    width: 30px;
    height: 6px;
    margin: 4px auto;
    background: #222;
  }
  .show {
    display: block;
  }
}